@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol{
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
  font-family: "Lato", sans-serif;
  color: var(--ntrl-clr-3);
  background-color: var(--sec-clr-1);
}

:root{
  --pry-clr: #CB3CFF;
  
  --sec-clr-1: #081028;
  --sec-clr-2: #8951FF;
  --sec-clr-3: #57C3FF;
  --sec-clr-4: #0E43FB;
  --sec-clr-5: #FDB52A;

  --OPtional-clr-1: #098bd0;
  --OPtional-clr-2: #3100e0;
  --OPtional-clr-4: #ac09e7;


  --ntrl-clr-1: #FFFFFF;
  --ntrl-clr-2: #D1DBF9;
  --ntrl-clr-3: #AEB9E1;
  --ntrl-clr-4: #7E89AC;
  --ntrl-clr-5: #0B1739;

  --bg-gradient: linear-gradient(139deg, rgba(224,85,255,1) 15%, rgba(203,60,255,1) 41%, rgba(108,114,255,1) 100%);
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}
::-webkit-scrollbar-corner{
  background: none;
}
::-webkit-scrollbar-track {
  background: none;
  border-radius: 100vw;
  margin-block: 1em;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--pry-clr);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sec-clr-2);
}